/* frames-per-second */
fps = 24

/* window dimensions */
window_width = 600
window_height = 600

/* orthographic projection values */
left = 0.0
right = 1.0
bottom = 0.0
top = 1.0

/* game's grid dimensions (for best viewing, they should be around 1/3 of the windows' dimensions) */
game_width = 200
game_height = 200
